body {
    background: black;
    color: red;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    
    
}

#con1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

#des{
    
    color: whitesmoke;
    
}

#video_de_troleo {
    
    opacity: 0;
    
}

#Cproh {
    
     position: absolute;
     display: flex;
     width: 98dvw;
     min-width: 97% ;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     align-items: center;
     left: 0px;
     z-index: 0;
  
}

#proh {
   
    width: 250px;
    height: 250px;
    
    
}

#play {
    
    
    background: whitesmoke;
    color: black;
    font-weight: bold;
    height: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px 0px 5px;
    z-index: 1;
    
}


@keyframes cambiocolor {
    
    
    0%{color: blue;}
    25%{color: gray;}
    50%{color: green;}
    75%{color: yellow;}
    100%{color: red;}
    
    
}

@keyframes cambiofondo {
    
    0%{background: yellow ;}
    50%{
    background-image: url('e90d782a-1676-4af5-a6b3-ca3a05966d8c_alta-libre-aspect-ratio_default_0-237591683-1.jpg');
    background-size: 99dvw;
    background-repeat: repeat-y;
    }
    100%{
    background: #3b00ff;
    background-image: none ;}
    
    
}


@keyframes escalar {
    
    
    0% {
        transform: scale(1,1);
        border: solid 3px yellow;
        box-shadow: 3px 3px 10px black;
    }
    
    50% {
        transform: scale(1.4,1.4);
        border: solid 3px blue;
        box-shadow: 3px 3px 10px black;
    }
    
    100% {
        transform: scale(1,1);
        border: solid 3px red;
        box-shadow: 3px 3px 10px black;
    }
    
}
